PORT=8001
MONGO_CONNECTION_STRING=mongodb+srv://user:PlUY1FoyxEOiZEyF@urban-attire.78gxmwy.mongodb.net/urban-attire?retryWrites=true&w=majority&appName=urban-attire

SERVER_URL=http://localhost:8001/api/v1
CLIENT_BASE_URL=http://localhost:3000


JWT_ACCESS_SECRET_KEY=e6105f06a6d7b093c237b627c4af6d269d79162a350cc3eb4604413946317598
JWT_REFRESH_SECRET_KEY=93b9512713721b7c65ee516edc0212cf4dc4880fc40a0c3c76b0667cf146bfa4
UPLOAD_FOLDER=./uploads/
UPLOAD_PATH=/public/uploads/
STORE_ID=testbox
STORE_PASSWD=qwerty
BRAND_NAME=urban attire
# nodeMailer
EMAIL_HOST = mail.unicrescent.com
EMAIL_PORT = 465
EMAIL_FROM = noreply@unicrescent.com
ADMIN_EMAIL=raihan.okobiz@gmail.com
EMAIL_USERNAME =raihan.okobiz@gmail.com
EMAIL_PASSWORD =axeduexlqvxvztgq